<%- include('header')%>
<!--  -->
<%- include('nav')%>

<form
    action="/add"
    method="post"
    class="mt-5 w-50 container"
    enctype="multipart/form-data"
>
    <h2 class="mb-3 text-success">Add Image</h2>
    <input
        type="text"
        placeholder="Card Title"
        class="form-control mb-5 p-2 fs-3"
        name="title"
    />
    <input
        type="text"
        placeholder="Author Name"
        class="form-control mb-5 p-2 fs-3"
        name="author"
    />
    <input
        type="file"
        placeholder="Author Name"
        class="form-control mb-5 p-2 fs-3"
        name="gallery"
    />
    <button class="btn btn-success p-3 fs-3">Add to gallery</button>
</form>

<!--  -->
<%- include('footer')%>
